.Abilities{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
    margin-top: 1vw;
}

.Abilities-Container{
    width: 90vw;
    margin-left: 6vw;
}

.Abilities h2{
    font-weight: 600;
    font-size: 3vw;
    align-self: flex-start;
    margin-left: 7vw;
}

.swiper:last-child{
    padding-right: 5vw;
}

@media (max-width: 600px){
    .Abilities h2{
        margin-bottom: 4vw;
        margin-top: 1vw;
        font-size: 4vw;
    }
}