.AbilitiesCard{
        width: 20vw;
        box-shadow: 1px 1px 3px black;
        border: 2px black solid !important;
        border-radius: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2vw;
        justify-content: center;
        padding-bottom: 2vw;
}

    .AbilitiesCard-hability{
        width: 80%;
        margin-top: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
    }

    .AbilitiesCard-hability p{
        font-weight: 800;
        font-size: 2.5vw;
    }

    .AbilitiesCard-hability img{
        width: 10vw;
    }

    .AbilitiesCard-Description{
        display: flex;
        width: 80%;
        align-content: center;
        justify-content: center;
        text-align: justify;
        font-size: 0.8vw;
        line-height: 2vw;
    }


@media (max-width: 600px) {
    .AbilitiesCard{
        width: 50vw;
        border-radius: 5vw;
    }

    .AbilitiesCard-hability{
        margin-top: 5vw;
    }

    .AbilitiesCard-hability p{
        margin: 2vw;
        font-size: 5vw;
    }

    .AbilitiesCard-hability img{
        width: 20vw;
    }

    .AbilitiesCard-Description{
        font-size: 2vw;
        line-height: 4vw;
    }

}


