.About{
    background-color: rgb(255, 255, 255);
    height: 70vh;
    width: 100%;
}

.About div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}